.footer {
    background-color: #192F2D;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.container.footer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.footer__name,
.footer__year {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 30px;
}

.footer__name a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__rs-school {
    background-image: url("../assets/rs_school_js.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 70px;
}