.header {
    background-color: #192F2D;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.header {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.header a {
    text-decoration: none;
    font-size: 30px;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.header a:hover {
    opacity: 0.5;
}

.header__btn-home {
    background-image: url("../assets/svg/tree.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 60px;
}

.header__search {
    width: 350px;
    height: 40px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    background-image: url(../assets/svg/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 310px center;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 40px;
    position: relative;
    outline: none;
    font-size: 25px;
    color: #FFFFFF;
}

.header__count-toys {
    background-image: url("../assets/ball/ball-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* cursor: pointer; */
    width: 45px;
    height: 60px;
    font-size: 30px;
    color: #ff0000;
    padding-top: 20px;
    text-align: center;
}

.header__setting {
    background-image: url("../assets/setting.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.header__setting:hover {
    opacity: 0.5;
}

.error-message {
    display: none;
    width: 500px;
    height: 50px;
    border: 3px solid red;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.error-message.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
}

.error-message__text {
    font-size: 30px;
    color: #ff0000;
}