@font-face {
    font-family: "Neucha";
    src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neucha';
}

.main {
    width: 100vw;
    height: calc(100vh - 140px);
    background-image: url("/assets/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.home-page {
    padding-top: 100px;
}

.home-page__text {
    width: 600px;
    height: 250px;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 20px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 53px;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    color: aliceblue;
    padding-top: 60px;
    z-index: 100;
    position: relative;
    backdrop-filter: blur(5px);
}

.home-page__btn-start {
    width: 200px;
    height: 50px;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 30px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 70px;
    padding-top: 10px;
    cursor: pointer;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.home-page__ball {
    position: absolute;
}

.home-page__ball-1 {
    top: 0px;
    left: calc(50% - 450px);
    z-index: 5;
    width: 320px;
    height: 568px;
}

.home-page__ball-2 {
    top: 100px;
    left: calc(50% + 150px);
    z-index: 5;
    width: 200px;
    height: 370px;
}