.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.select {
    max-width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
}

.select__setting {
    margin-right: 50px;
    width: 400px;
    height: 100%;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 30px;
    padding: 20px;
    line-height: 2;
    font-size: 30px;
    color: #FFFFFF;
}

#sort-metod {
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    background-color: rgb(95, 130, 153);
    border: 2px solid rgb(0, 140, 255);
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 15px;
    outline: none;
}

.form {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
}

.form.active {
    filter: invert(55%) sepia(44%) saturate(317%) hue-rotate(22deg) brightness(103%) contrast(88%);
}

.form.ball {
    background-image: url("../assets/svg/ball.svg");
}

.form.bell {
    background-image: url("../assets/svg/bell.svg");
}

.form.cone {
    background-image: url("../assets/svg/cone.svg");
}

.form.star {
    background-image: url("../assets/svg/snowflake.svg");
}

.form.figure {
    background-image: url("../assets/svg/toy.svg");
}

.color {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 10px;
}

.color.white {
    background-color: white;
}

.color.yellow {
    background-color: yellow;
}

.color.red {
    background-color: red;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}

.color.active {
    border: 5px solid rgb(195, 0, 255);
    color: black;
}

.select__size {
    padding-right: 100px;
}

.size.big {
    background-image: url("../assets/svg/ball.svg");
    background-size: cover;
    width: 60px;
    height: 60px;
}

.size.medium {
    background-image: url("../assets/svg/ball.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
}

.size.small {
    background-image: url("../assets/svg/ball.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.size.active {
    filter: invert(55%) sepia(44%) saturate(317%) hue-rotate(22deg) brightness(103%) contrast(88%);
}

.checkbox-favorite {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-favorite+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox-favorite+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-color: #6d8fb6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox-favorite:checked+label::before {
    border-color: rgb(0, 140, 255);
    background-color: #6d8fb6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.select__count,
.select__year {
    align-items: flex-start;
    flex-direction: column;
}

.select__range {
    width: 100%;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.select__count-line {
    width: 100%;
}

.select__text {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 20px;
    background-color: #6d8fb6;
}

#range-year,
#range-count {
    background-color: white;
    height: 5px;
    border: none;
    box-shadow: none;
}

#range-year .noUi-handle::after,
#range-year .noUi-handle::before,
#range-count .noUi-handle::after,
#range-count .noUi-handle::before {
    display: none;
}

#range-year .noUi-handle,
#range-count .noUi-handle {
    border: 1px solid rgb(0, 140, 255);
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

.select__reset {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background-color: #6d8fb6;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.select__toys {
    width: 100%;
    height: calc(100vh - 140px);
    border: 3px solid rgb(0, 140, 255);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.select__card {
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(0, 140, 255);
    border-radius: 20px;
    background-color: #33557c;
    opacity: 0.95;
}

.select__card-name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #ffbff0;
    /* border: 1px solid red; */
    height: 50px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.select__card-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.select__card-img img {
    width: 100%;
    height: 100%;
}

.select__card-text {
    width: 180px;
    font-size: 23px;
    color: #FFFFFF;
    line-height: 1.5;
}

.container.select__toys {
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 20px; */
}

.select__card.active {
    border: 3px solid red;
}